{
  "openapi": "3.0.3",
  "info": {
    "title": "BigQuery API",
    "version": "v2",
    "description": "OpenAPI 3 subset converted deterministically from the Google API Discovery document (revision 20260707) by scripts/discovery-to-openapi.ts. Covers only the operations selected for generation. Source: https://bigquery.googleapis.com/discovery/v1/apis/bigquery/v2/rest"
  },
  "externalDocs": {
    "url": "https://cloud.google.com/bigquery/"
  },
  "servers": [
    {
      "url": "https://bigquery.googleapis.com/bigquery/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/projects/{projectId}/queries": {
      "post": {
        "operationId": "JobsQuery",
        "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
        "summary": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Required. Project ID of the query request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "arrowSerializationOptions": {
                    "type": "object",
                    "properties": {
                      "bufferCompression": {
                        "type": "string",
                        "enum": [
                          "COMPRESSION_UNSPECIFIED",
                          "LZ4_FRAME",
                          "ZSTD"
                        ],
                        "description": "The compression codec to use for Arrow buffers in serialized record batches."
                      },
                      "picosTimestampPrecision": {
                        "type": "string",
                        "enum": [
                          "PICOS_TIMESTAMP_PRECISION_UNSPECIFIED",
                          "TIMESTAMP_PRECISION_MICROS",
                          "TIMESTAMP_PRECISION_NANOS",
                          "TIMESTAMP_PRECISION_PICOS"
                        ],
                        "description": "Optional. Set timestamp precision option. If not set, the default precision is microseconds."
                      }
                    },
                    "description": "Optional. Options specific to the Apache Arrow output format."
                  },
                  "connectionProperties": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The key of the property to set."
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the property to set."
                        }
                      },
                      "description": "A connection-level property to customize query behavior. Under JDBC, these correspond directly to connection properties passed to the DriverManager. Under ODBC, these correspond to properties in the connection string. Currently supported connection properties: * **dataset_project_id**: represents the default project for datasets that are used in the query. Setting the system variable `@@dataset_project_id` achieves the same behavior. For more information about system variables, see: https://cloud.google.com/bigquery/docs/reference/system-variables * **time_zone**: represents the default timezone used to run the query. * **session_id**: associates the query with a given session. * **query_label**: associates the query with a given job label. If set, all subsequent queries in a script or session will have this label. For the format in which a you can specify a query label, see labels in the JobConfiguration resource type: https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#jobconfiguration * **service_account**: indicates the service account to use to run a continuous query. If set, the query job uses the service account to access Google Cloud resources. Service account access is bounded by the IAM permissions that you have granted to the service account. Additional properties are allowed, but ignored. Specifying multiple connection properties with the same key returns an error."
                    },
                    "description": "Optional. Connection properties which can modify the query behavior."
                  },
                  "continuous": {
                    "type": "boolean",
                    "description": "[Optional] Specifies whether the query should be executed as a continuous query. The default value is false."
                  },
                  "createSession": {
                    "type": "boolean",
                    "description": "Optional. If true, creates a new session using a randomly generated session_id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode. The session location will be set to QueryRequest.location if it is present, otherwise it's set to the default location based on existing routing logic."
                  },
                  "defaultDataset": {
                    "type": "object",
                    "properties": {
                      "datasetId": {
                        "type": "string",
                        "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
                      },
                      "projectId": {
                        "type": "string",
                        "description": "Optional. The ID of the project containing this dataset."
                      }
                    },
                    "required": ["datasetId"],
                    "description": "Optional. Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'."
                  },
                  "destinationEncryptionConfiguration": {
                    "type": "object",
                    "properties": {
                      "kmsKeyName": {
                        "type": "string",
                        "description": "Optional. Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key."
                      }
                    },
                    "description": "Optional. Custom encryption configuration (e.g., Cloud KMS keys)"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "Optional. If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false."
                  },
                  "formatOptions": {
                    "type": "object",
                    "properties": {
                      "timestampOutputFormat": {
                        "type": "string",
                        "enum": [
                          "TIMESTAMP_OUTPUT_FORMAT_UNSPECIFIED",
                          "FLOAT64",
                          "INT64",
                          "ISO8601_STRING"
                        ],
                        "description": "Optional. The API output format for a timestamp. This offers more explicit control over the timestamp output format as compared to the existing `use_int64_timestamp` option."
                      },
                      "useInt64Timestamp": {
                        "type": "boolean",
                        "description": "Optional. Output timestamp as usec int64. Default is false."
                      }
                    },
                    "description": "Optional. Output format adjustments."
                  },
                  "jobCreationMode": {
                    "type": "string",
                    "enum": [
                      "JOB_CREATION_MODE_UNSPECIFIED",
                      "JOB_CREATION_REQUIRED",
                      "JOB_CREATION_OPTIONAL"
                    ],
                    "description": "Optional. If not set, jobs are always required. If set, the query request will follow the behavior described JobCreationMode."
                  },
                  "jobTimeoutMs": {
                    "type": "string",
                    "format": "int64",
                    "description": "Optional. Job timeout in milliseconds. If this time limit is exceeded, BigQuery will attempt to stop a longer job, but may not always succeed in canceling it before the job completes. For example, a job that takes more than 60 seconds to complete has a better chance of being stopped than a job that takes 10 seconds to complete. This timeout applies to the query even if a job does not need to be created."
                  },
                  "kind": {
                    "type": "string",
                    "description": "The resource type of the request."
                  },
                  "labels": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Optional. The labels associated with this query. Labels can be used to organize and group query jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label keys must start with a letter and each label in the list must have a different key."
                  },
                  "location": {
                    "type": "string",
                    "description": "The geographic location where the job should run. For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations)."
                  },
                  "maxResults": {
                    "type": "integer",
                    "description": "Optional. The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies."
                  },
                  "maxSlots": {
                    "type": "integer",
                    "description": "Optional. A target limit on the rate of slot consumption by this query. If set to a value > 0, BigQuery will attempt to limit the rate of slot consumption by this query to keep it below the configured limit, even if the query is eligible for more slots based on fair scheduling. The unused slots will be available for other jobs and queries to use. Note: This feature is not yet generally available."
                  },
                  "maximumBytesBilled": {
                    "type": "string",
                    "format": "int64",
                    "description": "Optional. Limits the bytes billed for this query. Queries with bytes billed above this limit will fail (without incurring a charge). If unspecified, the project default is used."
                  },
                  "parameterMode": {
                    "type": "string",
                    "description": "GoogleSQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
                  },
                  "preserveNulls": {
                    "type": "boolean",
                    "description": "This property is deprecated."
                  },
                  "query": {
                    "type": "string",
                    "description": "Required. A query string to execute, using Google Standard SQL or legacy SQL syntax. Example: \"SELECT COUNT(f1) FROM myProjectId.myDatasetId.myTableId\"."
                  },
                  "queryParameters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Optional. If unset, this is a positional parameter. Otherwise, should be unique within a query."
                        },
                        "parameterType": {
                          "type": "object",
                          "properties": {
                            "arrayType": {
                              "type": "object",
                              "description": "Recursive QueryParameterType value (recursion cut for the generated contract; validated as an open object)."
                            },
                            "rangeElementType": {
                              "type": "object",
                              "description": "Recursive QueryParameterType value (recursion cut for the generated contract; validated as an open object)."
                            },
                            "structTypes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string",
                                    "description": "Optional. Human-oriented description of the field."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Optional. The name of this field."
                                  },
                                  "type": {
                                    "type": "object",
                                    "description": "Recursive QueryParameterType value (recursion cut for the generated contract; validated as an open object)."
                                  }
                                },
                                "required": ["type"],
                                "description": "The type of a struct parameter."
                              },
                              "description": "Optional. The types of the fields of this struct, in order, if this is a struct."
                            },
                            "timestampPrecision": {
                              "type": "string",
                              "format": "int64",
                              "description": "Optional. Precision (maximum number of total digits in base 10) for seconds of TIMESTAMP type. Possible values include: * 6 (Default, for TIMESTAMP type with microsecond precision) * 12 (For TIMESTAMP type with picosecond precision)"
                            },
                            "type": {
                              "type": "string",
                              "description": "Required. The top level type of this field."
                            }
                          },
                          "required": ["type"],
                          "description": "Required. The type of this parameter."
                        },
                        "parameterValue": {
                          "type": "object",
                          "properties": {
                            "arrayValues": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "description": "Recursive QueryParameterValue value (recursion cut for the generated contract; validated as an open object)."
                              },
                              "description": "Optional. The array values, if this is an array type."
                            },
                            "rangeValue": {
                              "type": "object",
                              "properties": {
                                "end": {
                                  "type": "object",
                                  "description": "Recursive QueryParameterValue value (recursion cut for the generated contract; validated as an open object)."
                                },
                                "start": {
                                  "type": "object",
                                  "description": "Recursive QueryParameterValue value (recursion cut for the generated contract; validated as an open object)."
                                }
                              },
                              "description": "Optional. The range value, if this is a range type."
                            },
                            "structValues": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "description": "Recursive QueryParameterValue value (recursion cut for the generated contract; validated as an open object)."
                              },
                              "description": "The struct field values."
                            },
                            "value": {
                              "type": "string",
                              "description": "Optional. The value of this value, if a simple scalar type."
                            }
                          },
                          "description": "Required. The value of this parameter."
                        }
                      },
                      "required": ["parameterType", "parameterValue"],
                      "description": "A parameter given to a query."
                    },
                    "description": "Query parameters for GoogleSQL queries."
                  },
                  "queryResultsFormat": {
                    "type": "string",
                    "enum": [
                      "QUERY_RESULTS_FORMAT_UNSPECIFIED",
                      "STRUCT_ENCODING",
                      "ARROW"
                    ],
                    "description": "Optional. The query results format. If the value is anything other than `STRUCT_ENCODING` or unspecified: * The schema of the results will be provided in `QueryResponse.results_schema` field. * The results of the first page will be provided in `QueryResponse.results` field. * The `QueryResponse.rows` will not be populated. * The `QueryResponse.schema` for `QueryResponse.rows` will also not be populated since it is the schema of the `QueryResponse.rows`. This feature is not yet available."
                  },
                  "requestId": {
                    "type": "string",
                    "description": "Optional. A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of another request, all parameters in the request that may affect the result are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed."
                  },
                  "reservation": {
                    "type": "string",
                    "description": "Optional. The reservation that jobs.query request would use. User can specify a reservation to execute the job.query. The expected format is `projects/{project}/locations/{location}/reservations/{reservation}`. Forces the query to use on-demand billing when set to `none`. This requires the project or organization to have `reservation_override_mode` set to `ALLOW_ANY_OVERRIDE`."
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "description": "Optional. Optional: Specifies the maximum amount of time, in milliseconds, that the client is willing to wait for the query to complete. By default, this limit is 10 seconds (10,000 milliseconds). If the query is complete, the jobComplete field in the response is true. If the query has not yet completed, jobComplete is false. You can request a longer timeout period in the timeoutMs field. However, the call is not guaranteed to wait for the specified timeout; it typically returns after around 200 seconds (200,000 milliseconds), even if the query is not complete. If jobComplete is false, you can continue to wait for the query to complete by calling the getQueryResults method until the jobComplete field in the getQueryResults response is true."
                  },
                  "useLegacySql": {
                    "type": "boolean",
                    "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query uses BigQuery's [GoogleSQL](https://docs.cloud.google.com/bigquery/docs/introduction-sql). When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false."
                  },
                  "useQueryCache": {
                    "type": "boolean",
                    "description": "Optional. Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true."
                  },
                  "writeIncrementalResults": {
                    "type": "boolean",
                    "description": "Optional. This is only supported for SELECT query. If set, the query is allowed to write results incrementally to the temporary result table. This may incur a performance penalty. This option cannot be used with Legacy SQL. This feature is not yet available."
                  }
                },
                "required": ["query"],
                "description": "Describes the format of the jobs.query request."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "arrowRecordBatch": {
                      "type": "object",
                      "properties": {
                        "serializedRecordBatch": {
                          "type": "string",
                          "format": "byte",
                          "description": "IPC-serialized Arrow RecordBatch."
                        }
                      },
                      "description": "Output only. Serialized row data in Arrow RecordBatch format."
                    },
                    "arrowSchema": {
                      "type": "object",
                      "properties": {
                        "serializedSchema": {
                          "type": "string",
                          "format": "byte",
                          "description": "IPC serialized Arrow schema."
                        }
                      },
                      "description": "Output only. Arrow schema"
                    },
                    "cacheHit": {
                      "type": "boolean",
                      "description": "Whether the query result was fetched from the query cache."
                    },
                    "creationTime": {
                      "type": "string",
                      "format": "int64",
                      "description": "Output only. Creation time of this query, in milliseconds since the epoch. This field will be present on all queries."
                    },
                    "dmlStats": {
                      "type": "object",
                      "properties": {
                        "deletedRowCount": {
                          "type": "string",
                          "format": "int64",
                          "description": "Output only. Number of deleted Rows. populated by DML DELETE, MERGE and TRUNCATE statements."
                        },
                        "dmlMode": {
                          "type": "string",
                          "enum": [
                            "DML_MODE_UNSPECIFIED",
                            "COARSE_GRAINED_DML",
                            "FINE_GRAINED_DML"
                          ],
                          "description": "Output only. DML mode used."
                        },
                        "fineGrainedDmlUnusedReason": {
                          "type": "string",
                          "enum": [
                            "FINE_GRAINED_DML_UNUSED_REASON_UNSPECIFIED",
                            "MAX_PARTITION_SIZE_EXCEEDED",
                            "TABLE_NOT_ENROLLED",
                            "DML_IN_MULTI_STATEMENT_TRANSACTION"
                          ],
                          "description": "Output only. Reason for disabling fine-grained DML if applicable."
                        },
                        "insertedRowCount": {
                          "type": "string",
                          "format": "int64",
                          "description": "Output only. Number of inserted Rows. Populated by DML INSERT and MERGE statements"
                        },
                        "updatedRowCount": {
                          "type": "string",
                          "format": "int64",
                          "description": "Output only. Number of updated Rows. Populated by DML UPDATE and MERGE statements."
                        }
                      },
                      "description": "Output only. Detailed statistics for DML statements INSERT, UPDATE, DELETE, MERGE or TRUNCATE."
                    },
                    "endTime": {
                      "type": "string",
                      "format": "int64",
                      "description": "Output only. End time of this query, in milliseconds since the epoch. This field will be present whenever a query job is in the DONE state."
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "debugInfo": {
                            "type": "string",
                            "description": "Debugging information. This property is internal to Google and should not be used."
                          },
                          "location": {
                            "type": "string",
                            "description": "Specifies where the error occurred, if present."
                          },
                          "message": {
                            "type": "string",
                            "description": "A human-readable description of the error."
                          },
                          "reason": {
                            "type": "string",
                            "description": "A short error code that summarizes the error."
                          }
                        },
                        "description": "Error details."
                      },
                      "description": "Output only. The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful. For more information about error messages, see [Error messages](https://cloud.google.com/bigquery/docs/error-messages)."
                    },
                    "jobComplete": {
                      "type": "boolean",
                      "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available."
                    },
                    "jobCreationReason": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "CODE_UNSPECIFIED",
                            "REQUESTED",
                            "LONG_RUNNING",
                            "LARGE_RESULTS",
                            "OTHER"
                          ],
                          "description": "Output only. Specifies the high level reason why a Job was created."
                        }
                      },
                      "description": "Optional. The reason why a Job was created. Only relevant when a job_reference is present in the response. If job_reference is not present it will always be unset."
                    },
                    "jobReference": {
                      "type": "object",
                      "properties": {
                        "jobId": {
                          "type": "string",
                          "description": "Required. The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters."
                        },
                        "location": {
                          "type": "string",
                          "description": "Optional. The geographic location of the job. The default value is US. For more information about BigQuery locations, see: https://cloud.google.com/bigquery/docs/locations"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. The ID of the project containing this job."
                        }
                      },
                      "required": ["jobId", "projectId"],
                      "description": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults). If job_creation_mode was set to `JOB_CREATION_OPTIONAL` and the query completes without creating a job, this field will be empty."
                    },
                    "kind": {
                      "type": "string",
                      "description": "The resource type."
                    },
                    "location": {
                      "type": "string",
                      "description": "Output only. The geographic location of the query. For more information about BigQuery locations, see: https://cloud.google.com/bigquery/docs/locations"
                    },
                    "numDmlAffectedRows": {
                      "type": "string",
                      "format": "int64",
                      "description": "Output only. The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE."
                    },
                    "pageRowCount": {
                      "type": "string",
                      "format": "int64",
                      "description": "Output only. The number of rows out of `total_rows` returned in this response. This feature is not yet available."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token used for paging results. A non-empty token indicates that additional results are available. To see additional results, query the [`jobs.getQueryResults`](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/getQueryResults) method. For more information, see [Paging through table data](https://cloud.google.com/bigquery/docs/paging-results)."
                    },
                    "queryId": {
                      "type": "string",
                      "description": "Auto-generated ID for the query."
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "f": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "v": {}
                              }
                            },
                            "description": "Represents a single row in the result set, consisting of one or more fields."
                          }
                        }
                      },
                      "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above."
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "categories": {
                                "type": "object",
                                "properties": {
                                  "names": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Deprecated."
                                  }
                                },
                                "description": "Deprecated."
                              },
                              "collation": {
                                "type": "string",
                                "description": "Optional. Field collation can be set only when the type of field is STRING. The following values are supported: * 'und:ci': undetermined locale, case insensitive. * '': empty string. Default to case-sensitive behavior."
                              },
                              "dataGovernanceTagsInfo": {
                                "type": "object",
                                "properties": {
                                  "dataGovernanceTags": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    },
                                    "description": "Optional. The data governance tags added to this field are used for field-level access control. Only one data governance tag is currently supported on a field. Tag keys are globally unique. Tag key is expected to be in the namespaced format, for example \"123456789012/pii\" where 123456789012 is the ID of the parent organization or project resource for this tag key. Tag value is expected to be the short name, for example \"sensitive\". See [Tag definitions](https://cloud.google.com/iam/docs/tags-access-control#definitions) for more details. For example: \"123456789012/pii\": \"sensitive\", \"myProject/cost_center\": \"sales\""
                                  }
                                },
                                "description": "Optional. Specifies the data governance tags on this field. This field works with other column-level security fields as follows: - Precedence: If a data governance tag is attached to a column, it takes precedence over the policy tag attached to the column. However, if a data policy is attached to a column, it takes precedence over the data governance tag. - Patching behavior (how this field behaves during a `Table.patch` schema update): - Unset: If the `data_governance_tags_info` field is omitted from the update request, the existing tags on the column are preserved. - Empty Field: To clear data governance tags from a column, send the `data_governance_tags_info` field as an empty object. This will remove all tags from the column. - Updating tags: To replace existing tag, send the field with the new tag."
                              },
                              "dataPolicies": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "Data policy resource name in the form of projects/project_id/locations/location_id/dataPolicies/data_policy_id."
                                    }
                                  },
                                  "description": "Data policy option. For more information, see [Mask data by applying data policies to a column](https://docs.cloud.google.com/bigquery/docs/column-data-masking#data-policies-on-column)."
                                },
                                "description": "Optional. Data policies attached to this field, used for field-level access control."
                              },
                              "dataPolicyList": {
                                "type": "object",
                                "properties": {
                                  "dataPolicies": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "Data policy resource name in the form of projects/project_id/locations/location_id/dataPolicies/data_policy_id."
                                        }
                                      },
                                      "description": "Data policy option. For more information, see [Mask data by applying data policies to a column](https://docs.cloud.google.com/bigquery/docs/column-data-masking#data-policies-on-column)."
                                    },
                                    "description": "Contains a list of data policy options. At most 9 data policies are allowed per field."
                                  }
                                },
                                "description": "Optional. Specifies data policies attached to this field, used for field-level access control. When set, this will be the source of truth for data policy information."
                              },
                              "defaultValueExpression": {
                                "type": "string",
                                "description": "Optional. A SQL expression to specify the [default value] (https://cloud.google.com/bigquery/docs/default-values) for this field."
                              },
                              "description": {
                                "type": "string",
                                "description": "Optional. The field description. The maximum length is 1,024 characters."
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "description": "Recursive TableFieldSchema value (recursion cut for the generated contract; validated as an open object)."
                                },
                                "description": "Optional. Describes the nested schema fields if the type property is set to RECORD."
                              },
                              "foreignTypeDefinition": {
                                "type": "string",
                                "description": "Optional. Definition of the foreign data type. Only valid for top-level schema fields (not nested fields). If the type is FOREIGN, this field is required."
                              },
                              "generatedColumn": {
                                "type": "object",
                                "properties": {
                                  "generatedExpressionInfo": {
                                    "type": "object",
                                    "properties": {
                                      "asynchronous": {
                                        "type": "boolean",
                                        "description": "Optional. Whether the column generation is done asynchronously."
                                      },
                                      "generationExpression": {
                                        "type": "string",
                                        "description": "Optional. The generation expression (e.g. AI.EMBED(...)) used to generate the field."
                                      },
                                      "stored": {
                                        "type": "boolean",
                                        "description": "Optional. Whether the generated column is stored in the table."
                                      }
                                    },
                                    "description": "Definition of the expression used to generate the field."
                                  },
                                  "generatedMode": {
                                    "type": "string",
                                    "enum": [
                                      "GENERATED_MODE_UNSPECIFIED",
                                      "GENERATED_ALWAYS",
                                      "GENERATED_BY_DEFAULT"
                                    ],
                                    "description": "Optional. Dictates when system generated values are used to populate the field."
                                  }
                                },
                                "description": "Optional. Definition of how values are generated for the field. Only valid for top-level schema fields (not nested fields)."
                              },
                              "maxLength": {
                                "type": "string",
                                "format": "int64",
                                "description": "Optional. Maximum length of values of this field for STRINGS or BYTES. If max_length is not specified, no maximum length constraint is imposed on this field. If type = \"STRING\", then max_length represents the maximum UTF-8 length of strings in this field. If type = \"BYTES\", then max_length represents the maximum number of bytes in this field. It is invalid to set this field if type ≠ \"STRING\" and ≠ \"BYTES\"."
                              },
                              "mode": {
                                "type": "string",
                                "description": "Optional. The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE."
                              },
                              "name": {
                                "type": "string",
                                "description": "Required. The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 300 characters."
                              },
                              "policyTags": {
                                "type": "object",
                                "properties": {
                                  "names": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "A list of policy tag resource names. For example, \"projects/1/locations/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is currently allowed."
                                  }
                                },
                                "description": "Optional. The policy tags attached to this field, used for field-level access control. If not set, defaults to empty policy_tags."
                              },
                              "precision": {
                                "type": "string",
                                "format": "int64",
                                "description": "Optional. Precision (maximum number of total digits in base 10) and scale (maximum number of digits in the fractional part in base 10) constraints for values of this field for NUMERIC or BIGNUMERIC. It is invalid to set precision or scale if type ≠ \"NUMERIC\" and ≠ \"BIGNUMERIC\". If precision and scale are not specified, no value range constraint is imposed on this field insofar as values are permitted by the type. Values of this NUMERIC or BIGNUMERIC field must be in this range when: * Precision (P) and scale (S) are specified: [-10P-S + 10-S, 10P-S - 10-S] * Precision (P) is specified but not scale (and thus scale is interpreted to be equal to zero): [-10P + 1, 10P - 1]. Acceptable values for precision and scale if both are specified: * If type = \"NUMERIC\": 1 ≤ precision - scale ≤ 29 and 0 ≤ scale ≤ 9. * If type = \"BIGNUMERIC\": 1 ≤ precision - scale ≤ 38 and 0 ≤ scale ≤ 38. Acceptable values for precision if only precision is specified but not scale (and thus scale is interpreted to be equal to zero): * If type = \"NUMERIC\": 1 ≤ precision ≤ 29. * If type = \"BIGNUMERIC\": 1 ≤ precision ≤ 38. If scale is specified but not precision, then it is invalid."
                              },
                              "rangeElementType": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Required. The type of a field element. For more information, see TableFieldSchema.type."
                                  }
                                },
                                "required": ["type"],
                                "description": "Represents the type of a field element."
                              },
                              "roundingMode": {
                                "type": "string",
                                "enum": [
                                  "ROUNDING_MODE_UNSPECIFIED",
                                  "ROUND_HALF_AWAY_FROM_ZERO",
                                  "ROUND_HALF_EVEN"
                                ],
                                "description": "Optional. Specifies the rounding mode to be used when storing values of NUMERIC and BIGNUMERIC type."
                              },
                              "scale": {
                                "type": "string",
                                "format": "int64",
                                "description": "Optional. See documentation for precision."
                              },
                              "timestampPrecision": {
                                "type": "string",
                                "format": "int64",
                                "description": "Optional. Precision (maximum number of total digits in base 10) for seconds of TIMESTAMP type. Possible values include: * 6 (Default, for TIMESTAMP type with microsecond precision) * 12 (For TIMESTAMP type with picosecond precision)"
                              },
                              "type": {
                                "type": "string",
                                "description": "Required. The field data type. Possible values include: * STRING * BYTES * INTEGER (or INT64) * FLOAT (or FLOAT64) * BOOLEAN (or BOOL) * TIMESTAMP * DATE * TIME * DATETIME * GEOGRAPHY * NUMERIC * BIGNUMERIC * JSON * RECORD (or STRUCT) * RANGE Use of RECORD/STRUCT indicates that the field contains a nested schema."
                              }
                            },
                            "required": ["name", "type"],
                            "description": "A field in TableSchema"
                          },
                          "description": "Describes the fields in a table."
                        },
                        "foreignTypeInfo": {
                          "type": "object",
                          "properties": {
                            "typeSystem": {
                              "type": "string",
                              "enum": ["TYPE_SYSTEM_UNSPECIFIED", "HIVE"],
                              "description": "Required. Specifies the system which defines the foreign data type."
                            }
                          },
                          "required": ["typeSystem"],
                          "description": "Optional. Specifies metadata of the foreign data type definition in field schema (TableFieldSchema.foreign_type_definition)."
                        }
                      },
                      "description": "The schema of the results. Present only when the query completes successfully."
                    },
                    "sessionInfo": {
                      "type": "object",
                      "properties": {
                        "sessionId": {
                          "type": "string",
                          "description": "Output only. The id of the session."
                        }
                      },
                      "description": "Output only. Information of the session if this job is part of one."
                    },
                    "startTime": {
                      "type": "string",
                      "format": "int64",
                      "description": "Output only. Start time of this query, in milliseconds since the epoch. This field will be present when the query job transitions from the PENDING state to either RUNNING or DONE."
                    },
                    "totalBytesBilled": {
                      "type": "string",
                      "format": "int64",
                      "description": "Output only. If the project is configured to use on-demand pricing, then this field contains the total bytes billed for the job. If the project is configured to use flat-rate pricing, then you are not billed for bytes and this field is informational only."
                    },
                    "totalBytesProcessed": {
                      "type": "string",
                      "format": "int64",
                      "description": "The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run."
                    },
                    "totalRows": {
                      "type": "string",
                      "format": "uint64",
                      "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results."
                    },
                    "totalSlotMs": {
                      "type": "string",
                      "format": "int64",
                      "description": "Output only. Number of slot ms the user is actually billed for."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/queries/{jobId}": {
      "get": {
        "operationId": "JobsGetQueryResults",
        "description": "RPC to get the results of a query job.",
        "summary": "RPC to get the results of a query job.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Required. Project ID of the query job.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Required. Job ID of the query job.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatOptions.timestampOutputFormat",
            "in": "query",
            "required": false,
            "description": "Optional. The API output format for a timestamp. This offers more explicit control over the timestamp output format as compared to the existing `use_int64_timestamp` option.",
            "schema": {
              "type": "string",
              "enum": [
                "TIMESTAMP_OUTPUT_FORMAT_UNSPECIFIED",
                "FLOAT64",
                "INT64",
                "ISO8601_STRING"
              ]
            }
          },
          {
            "name": "formatOptions.useInt64Timestamp",
            "in": "query",
            "required": false,
            "description": "Optional. Output timestamp as usec int64. Default is false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to read.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "Page token, returned by a previous call, to request the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "description": "Zero-based index of the starting row.",
            "schema": {
              "type": "string",
              "format": "uint64"
            }
          },
          {
            "name": "timeoutMs",
            "in": "query",
            "required": false,
            "description": "Optional: Specifies the maximum amount of time, in milliseconds, that the client is willing to wait for the query to complete. By default, this limit is 10 seconds (10,000 milliseconds). If the query is complete, the jobComplete field in the response is true. If the query has not yet completed, jobComplete is false. You can request a longer timeout period in the timeoutMs field. However, the call is not guaranteed to wait for the specified timeout; it typically returns after around 200 seconds (200,000 milliseconds), even if the query is not complete. If jobComplete is false, you can continue to wait for the query to complete by calling the getQueryResults method until the jobComplete field in the getQueryResults response is true.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cacheHit": {
                      "type": "boolean",
                      "description": "Whether the query result was fetched from the query cache."
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "debugInfo": {
                            "type": "string",
                            "description": "Debugging information. This property is internal to Google and should not be used."
                          },
                          "location": {
                            "type": "string",
                            "description": "Specifies where the error occurred, if present."
                          },
                          "message": {
                            "type": "string",
                            "description": "A human-readable description of the error."
                          },
                          "reason": {
                            "type": "string",
                            "description": "A short error code that summarizes the error."
                          }
                        },
                        "description": "Error details."
                      },
                      "description": "Output only. The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful. For more information about error messages, see [Error messages](https://cloud.google.com/bigquery/docs/error-messages)."
                    },
                    "etag": {
                      "type": "string",
                      "description": "A hash of this response."
                    },
                    "jobComplete": {
                      "type": "boolean",
                      "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available."
                    },
                    "jobReference": {
                      "type": "object",
                      "properties": {
                        "jobId": {
                          "type": "string",
                          "description": "Required. The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters."
                        },
                        "location": {
                          "type": "string",
                          "description": "Optional. The geographic location of the job. The default value is US. For more information about BigQuery locations, see: https://cloud.google.com/bigquery/docs/locations"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. The ID of the project containing this job."
                        }
                      },
                      "required": ["jobId", "projectId"],
                      "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
                    },
                    "kind": {
                      "type": "string",
                      "description": "The resource type of the response."
                    },
                    "numDmlAffectedRows": {
                      "type": "string",
                      "format": "int64",
                      "description": "Output only. The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token used for paging results. When this token is non-empty, it indicates additional results are available."
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "f": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "v": {}
                              }
                            },
                            "description": "Represents a single row in the result set, consisting of one or more fields."
                          }
                        }
                      },
                      "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully. The REST-based representation of this data leverages a series of JSON f,v objects for indicating fields and values."
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "categories": {
                                "type": "object",
                                "properties": {
                                  "names": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Deprecated."
                                  }
                                },
                                "description": "Deprecated."
                              },
                              "collation": {
                                "type": "string",
                                "description": "Optional. Field collation can be set only when the type of field is STRING. The following values are supported: * 'und:ci': undetermined locale, case insensitive. * '': empty string. Default to case-sensitive behavior."
                              },
                              "dataGovernanceTagsInfo": {
                                "type": "object",
                                "properties": {
                                  "dataGovernanceTags": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    },
                                    "description": "Optional. The data governance tags added to this field are used for field-level access control. Only one data governance tag is currently supported on a field. Tag keys are globally unique. Tag key is expected to be in the namespaced format, for example \"123456789012/pii\" where 123456789012 is the ID of the parent organization or project resource for this tag key. Tag value is expected to be the short name, for example \"sensitive\". See [Tag definitions](https://cloud.google.com/iam/docs/tags-access-control#definitions) for more details. For example: \"123456789012/pii\": \"sensitive\", \"myProject/cost_center\": \"sales\""
                                  }
                                },
                                "description": "Optional. Specifies the data governance tags on this field. This field works with other column-level security fields as follows: - Precedence: If a data governance tag is attached to a column, it takes precedence over the policy tag attached to the column. However, if a data policy is attached to a column, it takes precedence over the data governance tag. - Patching behavior (how this field behaves during a `Table.patch` schema update): - Unset: If the `data_governance_tags_info` field is omitted from the update request, the existing tags on the column are preserved. - Empty Field: To clear data governance tags from a column, send the `data_governance_tags_info` field as an empty object. This will remove all tags from the column. - Updating tags: To replace existing tag, send the field with the new tag."
                              },
                              "dataPolicies": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "Data policy resource name in the form of projects/project_id/locations/location_id/dataPolicies/data_policy_id."
                                    }
                                  },
                                  "description": "Data policy option. For more information, see [Mask data by applying data policies to a column](https://docs.cloud.google.com/bigquery/docs/column-data-masking#data-policies-on-column)."
                                },
                                "description": "Optional. Data policies attached to this field, used for field-level access control."
                              },
                              "dataPolicyList": {
                                "type": "object",
                                "properties": {
                                  "dataPolicies": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "Data policy resource name in the form of projects/project_id/locations/location_id/dataPolicies/data_policy_id."
                                        }
                                      },
                                      "description": "Data policy option. For more information, see [Mask data by applying data policies to a column](https://docs.cloud.google.com/bigquery/docs/column-data-masking#data-policies-on-column)."
                                    },
                                    "description": "Contains a list of data policy options. At most 9 data policies are allowed per field."
                                  }
                                },
                                "description": "Optional. Specifies data policies attached to this field, used for field-level access control. When set, this will be the source of truth for data policy information."
                              },
                              "defaultValueExpression": {
                                "type": "string",
                                "description": "Optional. A SQL expression to specify the [default value] (https://cloud.google.com/bigquery/docs/default-values) for this field."
                              },
                              "description": {
                                "type": "string",
                                "description": "Optional. The field description. The maximum length is 1,024 characters."
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "description": "Recursive TableFieldSchema value (recursion cut for the generated contract; validated as an open object)."
                                },
                                "description": "Optional. Describes the nested schema fields if the type property is set to RECORD."
                              },
                              "foreignTypeDefinition": {
                                "type": "string",
                                "description": "Optional. Definition of the foreign data type. Only valid for top-level schema fields (not nested fields). If the type is FOREIGN, this field is required."
                              },
                              "generatedColumn": {
                                "type": "object",
                                "properties": {
                                  "generatedExpressionInfo": {
                                    "type": "object",
                                    "properties": {
                                      "asynchronous": {
                                        "type": "boolean",
                                        "description": "Optional. Whether the column generation is done asynchronously."
                                      },
                                      "generationExpression": {
                                        "type": "string",
                                        "description": "Optional. The generation expression (e.g. AI.EMBED(...)) used to generate the field."
                                      },
                                      "stored": {
                                        "type": "boolean",
                                        "description": "Optional. Whether the generated column is stored in the table."
                                      }
                                    },
                                    "description": "Definition of the expression used to generate the field."
                                  },
                                  "generatedMode": {
                                    "type": "string",
                                    "enum": [
                                      "GENERATED_MODE_UNSPECIFIED",
                                      "GENERATED_ALWAYS",
                                      "GENERATED_BY_DEFAULT"
                                    ],
                                    "description": "Optional. Dictates when system generated values are used to populate the field."
                                  }
                                },
                                "description": "Optional. Definition of how values are generated for the field. Only valid for top-level schema fields (not nested fields)."
                              },
                              "maxLength": {
                                "type": "string",
                                "format": "int64",
                                "description": "Optional. Maximum length of values of this field for STRINGS or BYTES. If max_length is not specified, no maximum length constraint is imposed on this field. If type = \"STRING\", then max_length represents the maximum UTF-8 length of strings in this field. If type = \"BYTES\", then max_length represents the maximum number of bytes in this field. It is invalid to set this field if type ≠ \"STRING\" and ≠ \"BYTES\"."
                              },
                              "mode": {
                                "type": "string",
                                "description": "Optional. The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE."
                              },
                              "name": {
                                "type": "string",
                                "description": "Required. The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 300 characters."
                              },
                              "policyTags": {
                                "type": "object",
                                "properties": {
                                  "names": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "A list of policy tag resource names. For example, \"projects/1/locations/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is currently allowed."
                                  }
                                },
                                "description": "Optional. The policy tags attached to this field, used for field-level access control. If not set, defaults to empty policy_tags."
                              },
                              "precision": {
                                "type": "string",
                                "format": "int64",
                                "description": "Optional. Precision (maximum number of total digits in base 10) and scale (maximum number of digits in the fractional part in base 10) constraints for values of this field for NUMERIC or BIGNUMERIC. It is invalid to set precision or scale if type ≠ \"NUMERIC\" and ≠ \"BIGNUMERIC\". If precision and scale are not specified, no value range constraint is imposed on this field insofar as values are permitted by the type. Values of this NUMERIC or BIGNUMERIC field must be in this range when: * Precision (P) and scale (S) are specified: [-10P-S + 10-S, 10P-S - 10-S] * Precision (P) is specified but not scale (and thus scale is interpreted to be equal to zero): [-10P + 1, 10P - 1]. Acceptable values for precision and scale if both are specified: * If type = \"NUMERIC\": 1 ≤ precision - scale ≤ 29 and 0 ≤ scale ≤ 9. * If type = \"BIGNUMERIC\": 1 ≤ precision - scale ≤ 38 and 0 ≤ scale ≤ 38. Acceptable values for precision if only precision is specified but not scale (and thus scale is interpreted to be equal to zero): * If type = \"NUMERIC\": 1 ≤ precision ≤ 29. * If type = \"BIGNUMERIC\": 1 ≤ precision ≤ 38. If scale is specified but not precision, then it is invalid."
                              },
                              "rangeElementType": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Required. The type of a field element. For more information, see TableFieldSchema.type."
                                  }
                                },
                                "required": ["type"],
                                "description": "Represents the type of a field element."
                              },
                              "roundingMode": {
                                "type": "string",
                                "enum": [
                                  "ROUNDING_MODE_UNSPECIFIED",
                                  "ROUND_HALF_AWAY_FROM_ZERO",
                                  "ROUND_HALF_EVEN"
                                ],
                                "description": "Optional. Specifies the rounding mode to be used when storing values of NUMERIC and BIGNUMERIC type."
                              },
                              "scale": {
                                "type": "string",
                                "format": "int64",
                                "description": "Optional. See documentation for precision."
                              },
                              "timestampPrecision": {
                                "type": "string",
                                "format": "int64",
                                "description": "Optional. Precision (maximum number of total digits in base 10) for seconds of TIMESTAMP type. Possible values include: * 6 (Default, for TIMESTAMP type with microsecond precision) * 12 (For TIMESTAMP type with picosecond precision)"
                              },
                              "type": {
                                "type": "string",
                                "description": "Required. The field data type. Possible values include: * STRING * BYTES * INTEGER (or INT64) * FLOAT (or FLOAT64) * BOOLEAN (or BOOL) * TIMESTAMP * DATE * TIME * DATETIME * GEOGRAPHY * NUMERIC * BIGNUMERIC * JSON * RECORD (or STRUCT) * RANGE Use of RECORD/STRUCT indicates that the field contains a nested schema."
                              }
                            },
                            "required": ["name", "type"],
                            "description": "A field in TableSchema"
                          },
                          "description": "Describes the fields in a table."
                        },
                        "foreignTypeInfo": {
                          "type": "object",
                          "properties": {
                            "typeSystem": {
                              "type": "string",
                              "enum": ["TYPE_SYSTEM_UNSPECIFIED", "HIVE"],
                              "description": "Required. Specifies the system which defines the foreign data type."
                            }
                          },
                          "required": ["typeSystem"],
                          "description": "Optional. Specifies metadata of the foreign data type definition in field schema (TableFieldSchema.foreign_type_definition)."
                        }
                      },
                      "description": "The schema of the results. Present only when the query completes successfully."
                    },
                    "totalBytesProcessed": {
                      "type": "string",
                      "format": "int64",
                      "description": "The total number of bytes processed for this query."
                    },
                    "totalRows": {
                      "type": "string",
                      "format": "uint64",
                      "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully."
                    }
                  },
                  "description": "Response object of GetQueryResults."
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll": {
      "post": {
        "operationId": "TabledataInsertAll",
        "description": "Streams data into BigQuery one record at a time without needing to run a load job.",
        "summary": "Streams data into BigQuery one record at a time without needing to run a load job.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Required. Project ID of the destination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "description": "Required. Dataset ID of the destination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Required. Table ID of the destination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ignoreUnknownValues": {
                    "type": "boolean",
                    "description": "Optional. Accept rows that contain values that do not match the schema. The unknown values are ignored. Default is false, which treats unknown values as errors."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Optional. The resource type of the response. The value is not checked at the backend. Historically, it has been set to \"bigquery#tableDataInsertAllRequest\" but you are not required to set it."
                  },
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "insertId": {
                          "type": "string",
                          "description": "Insertion ID for best-effort deduplication. This feature is not recommended, and users seeking stronger insertion semantics are encouraged to use other mechanisms such as the BigQuery Write API."
                        },
                        "json": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Data for a single row."
                        }
                      },
                      "description": "Data for a single insertion row."
                    }
                  },
                  "skipInvalidRows": {
                    "type": "boolean",
                    "description": "Optional. Insert all valid rows of a request, even if invalid rows exist. The default value is false, which causes the entire request to fail if any invalid rows exist."
                  },
                  "templateSuffix": {
                    "type": "string",
                    "description": "Optional. If specified, treats the destination table as a base template, and inserts the rows into an instance table named \"{destination}{templateSuffix}\". BigQuery will manage creation of the instance table, using the schema of the base template table. See https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables for considerations when working with templates tables."
                  },
                  "traceId": {
                    "type": "string",
                    "description": "Optional. Unique request trace id. Used for debugging purposes only. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended."
                  }
                },
                "description": "Request for sending a single streaming insert."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insertErrors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "debugInfo": {
                                  "type": "string",
                                  "description": "Debugging information. This property is internal to Google and should not be used."
                                },
                                "location": {
                                  "type": "string",
                                  "description": "Specifies where the error occurred, if present."
                                },
                                "message": {
                                  "type": "string",
                                  "description": "A human-readable description of the error."
                                },
                                "reason": {
                                  "type": "string",
                                  "description": "A short error code that summarizes the error."
                                }
                              },
                              "description": "Error details."
                            },
                            "description": "Error information for the row indicated by the index property."
                          },
                          "index": {
                            "type": "integer",
                            "description": "The index of the row that error applies to."
                          }
                        },
                        "description": "Error details about a single row's insertion."
                      },
                      "description": "Describes specific errors encountered while processing the request."
                    },
                    "kind": {
                      "type": "string",
                      "description": "Returns \"bigquery#tableDataInsertAllResponse\"."
                    }
                  },
                  "description": "Describes the format of a streaming insert response."
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/datasets": {
      "get": {
        "operationId": "DatasetsList",
        "description": "Lists all datasets in the specified project to which the user has been granted the READER dataset role.",
        "summary": "Lists all datasets in the specified project to which the user has been granted the READER dataset role.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Required. Project ID of the datasets to be listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "description": "Whether to list all datasets, including hidden ones",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "An expression for filtering the results of the request by label. The syntax is `labels.[:]`. Multiple filters can be AND-ed together by connecting with a space. Example: `labels.department:receiving labels.active`. See [Filtering datasets using labels](https://cloud.google.com/bigquery/docs/filtering-labels#filtering_datasets_using_labels) for details.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "Page token, returned by a previous call, to request the next page of results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datasets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "catalogSource": {
                            "type": "string",
                            "description": "Output only. The origin of the dataset, one of: * (Unset) - Native BigQuery Dataset. * BIGLAKE - Dataset is backed by a namespace stored natively in Biglake."
                          },
                          "datasetReference": {
                            "type": "object",
                            "properties": {
                              "datasetId": {
                                "type": "string",
                                "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
                              },
                              "projectId": {
                                "type": "string",
                                "description": "Optional. The ID of the project containing this dataset."
                              }
                            },
                            "required": ["datasetId"],
                            "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID."
                          },
                          "externalDatasetReference": {
                            "type": "object",
                            "properties": {
                              "connection": {
                                "type": "string",
                                "description": "Required. The connection id that is used to access the external_source. Format: projects/{project_id}/locations/{location_id}/connections/{connection_id}"
                              },
                              "externalSource": {
                                "type": "string",
                                "description": "Required. External source that backs this dataset."
                              }
                            },
                            "required": ["connection", "externalSource"],
                            "description": "Output only. Reference to a read-only external dataset defined in data catalogs outside of BigQuery. Filled out when the dataset type is EXTERNAL."
                          },
                          "friendlyName": {
                            "type": "string",
                            "description": "An alternate name for the dataset. The friendly name is purely decorative in nature."
                          },
                          "id": {
                            "type": "string",
                            "description": "The fully-qualified, unique, opaque ID of the dataset."
                          },
                          "kind": {
                            "type": "string",
                            "description": "The resource type. This property always returns the value \"bigquery#dataset\""
                          },
                          "labels": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "The labels associated with this dataset. You can use these to organize and group your datasets."
                          },
                          "location": {
                            "type": "string",
                            "description": "The geographic location where the dataset resides."
                          },
                          "type": {
                            "type": "string",
                            "description": "Output only. Same as `type` in `Dataset`. The type of the dataset, one of: * DEFAULT - only accessible by owner and authorized accounts, * PUBLIC - accessible by everyone, * LINKED - linked dataset, * EXTERNAL - dataset with definition in external metadata catalog, * BIGLAKE_ICEBERG - a Biglake dataset accessible through the Iceberg API, * BIGLAKE_HIVE - a Biglake dataset accessible through the Hive API."
                          }
                        },
                        "description": "A dataset resource with only a subset of fields, to be returned in a list of datasets."
                      },
                      "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project."
                    },
                    "etag": {
                      "type": "string",
                      "description": "Output only. A hash value of the results page. You can use this property to determine if the page has changed since the last request."
                    },
                    "kind": {
                      "type": "string",
                      "description": "Output only. The resource type. This property always returns the value \"bigquery#datasetList\""
                    },
                    "nextPageToken": {
                      "type": "string",
                      "description": "A token that can be used to request the next results page. This property is omitted on the final results page."
                    },
                    "unreachable": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "A list of skipped locations that were unreachable. For more information about BigQuery locations, see: https://cloud.google.com/bigquery/docs/locations. Example: \"europe-west5\""
                    }
                  },
                  "description": "Response format for a page of results when listing datasets."
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/datasets/{datasetId}/tables": {
      "get": {
        "operationId": "TablesList",
        "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
        "summary": "Lists all tables in the specified dataset.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Required. Project ID of the tables to list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "description": "Required. Dataset ID of the tables to list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "Page token, returned by a previous call, to request the next page of results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "etag": {
                      "type": "string",
                      "description": "A hash of this page of results."
                    },
                    "kind": {
                      "type": "string",
                      "description": "The type of list."
                    },
                    "nextPageToken": {
                      "type": "string",
                      "description": "A token to request the next page of results."
                    },
                    "tables": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clustering": {
                            "type": "object",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "One or more fields on which data should be clustered. Only top-level, non-repeated, simple-type fields are supported. The ordering of the clustering fields should be prioritized from most to least important for filtering purposes. For additional information, see [Introduction to clustered tables](https://cloud.google.com/bigquery/docs/clustered-tables#limitations)."
                              }
                            },
[...]
