{
  "openapi": "3.0.3",
  "info": {
    "title": "Redshift Data API Service",
    "version": "2019-12-20",
    "description": "OpenAPI 3 subset converted deterministically from the AWS Smithy model by scripts/smithy-to-openapi.ts. Covers only the operations selected for generation. Protocol awsJson1_1: every request is POST / with X-Amz-Target and Content-Type application/x-amz-json-1.1 (the /#X-Amz-Target=... paths are never sent on the wire). Authentication is AWS SigV4 request signing. Source: https://raw.githubusercontent.com/aws/aws-sdk-js-v3/main/codegen/sdk-codegen/aws-models/redshift-data.json"
  },
  "externalDocs": {
    "url": "https://docs.aws.amazon.com/redshift-data/latest/APIReference/Welcome.html"
  },
  "servers": [
    {
      "url": "https://redshift-data.us-east-1.amazonaws.com"
    }
  ],
  "paths": {
    "/#X-Amz-Target=RedshiftData.ExecuteStatement": {
      "post": {
        "operationId": "ExecuteStatement",
        "summary": "Runs an SQL statement, which can be data manipulation language (DML) or data definition language (DDL).",
        "description": "Runs an SQL statement, which can be data manipulation language (DML) or data definition language (DDL). This statement must be a single SQL statement. Depending on the authorization method, use one of the following combinations of request parameters: Secrets Manager - when connecting to a cluster, provide the secret-arn of a secret stored in Secrets Manager which has username and password . The specified secret contains credentials to connect to the database you specify. When you are connecting to a cluster, you also supply the database name, If you provide a cluster identifier ( dbClusterIdentifier ), it must match the cluster identifier stored in the secret. When you are connecting to a serverless workgroup, you also supply the database name. Temporary credentials - when connecting to your data warehouse, choose one of the following options: When connecting to a serverless workgroup, specify the workgroup name and database name. The database user name is derived from the IAM identity. For example, arn:iam::123456789012:user:foo has the database user name IAM:foo . Also, permission to call the redshift-serverless:GetCredentials operation is required. When connecting to a cluster as an IAM identity, specify the cluster identifier and the database name. The database user name is derived from the IAM identity. For example, arn:iam::123456789012:user:foo has the database user name IAM:foo . Also, permission to call the redshift:GetClusterCredentialsWithIAM operation is required. When connecting to a cluster as a database user, specify the cluster identifier, the database name, and the database user name. Also, permission to call the redshift:GetClusterCredentials operation is required. For more information about the Amazon Redshift Data API and CLI usage examples, see Using the Amazon Redshift Data API in the Amazon Redshift Management Guide .",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Sql": {
                    "type": "string",
                    "description": "The SQL statement text to run."
                  },
                  "ClusterIdentifier": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 63,
                    "description": "The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials."
                  },
                  "SecretArn": {
                    "type": "string",
                    "description": "The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager."
                  },
                  "DbUser": {
                    "type": "string",
                    "description": "The database user name. This parameter is required when connecting to a cluster as a database user and authenticating using temporary credentials."
                  },
                  "Database": {
                    "type": "string",
                    "description": "The name of the database. This parameter is required when authenticating using either Secrets Manager or temporary credentials."
                  },
                  "WithEvent": {
                    "type": "boolean",
                    "description": "A value that indicates whether to send an event to the Amazon EventBridge event bus after the SQL statement runs."
                  },
                  "StatementName": {
                    "type": "string",
                    "maxLength": 2048,
                    "description": "The name of the SQL statement. You can name the SQL statement when you create it to identify the query."
                  },
                  "Parameters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the parameter."
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The value of the parameter. Amazon Redshift implicitly converts to the proper data type. For more information, see Data types in the Amazon Redshift Database Developer Guide ."
                        }
                      },
                      "required": ["name", "value"],
                      "description": "A parameter used in a SQL statement."
                    },
                    "description": "The parameters for the SQL statement."
                  },
                  "WorkgroupName": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 128,
                    "description": "The serverless workgroup name or Amazon Resource Name (ARN). This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials."
                  },
                  "ClientToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request."
                  },
                  "ResultFormat": {
                    "type": "string",
                    "enum": ["JSON", "CSV"],
                    "description": "The data format of the result of the SQL statement. If no format is specified, the default is JSON."
                  },
                  "SessionKeepAliveSeconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400,
                    "description": "The number of seconds to keep the session alive after the query finishes. The maximum time a session can keep alive is 24 hours. After 24 hours, the session is forced closed and the query is terminated."
                  },
                  "SessionId": {
                    "type": "string",
                    "description": "The session identifier of the query."
                  }
                },
                "required": ["Sql"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "The identifier of the SQL statement whose results are to be fetched. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API."
                    },
                    "CreatedAt": {
                      "type": "number",
                      "description": "The date and time (UTC) the statement was created. (awsJson1_1 timestamp: epoch seconds)"
                    },
                    "ClusterIdentifier": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 63,
                      "description": "The cluster identifier. This element is not returned when connecting to a serverless workgroup."
                    },
                    "DbUser": {
                      "type": "string",
                      "description": "The database user name."
                    },
                    "DbGroups": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "A list of colon (:) separated names of database groups."
                    },
                    "Database": {
                      "type": "string",
                      "description": "The name of the database."
                    },
                    "SecretArn": {
                      "type": "string",
                      "description": "The name or ARN of the secret that enables access to the database."
                    },
                    "WorkgroupName": {
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 128,
                      "description": "The serverless workgroup name or Amazon Resource Name (ARN). This element is not returned when connecting to a provisioned cluster."
                    },
                    "SessionId": {
                      "type": "string",
                      "description": "The session identifier of the query."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#X-Amz-Target=RedshiftData.DescribeStatement": {
      "post": {
        "operationId": "DescribeStatement",
        "summary": "Describes the details about a specific instance when a query was run by the Amazon Redshift Data API.",
        "description": "Describes the details about a specific instance when a query was run by the Amazon Redshift Data API. The information includes when the query started, when it finished, the query status, the number of rows returned, and the SQL statement. For more information about the Amazon Redshift Data API and CLI usage examples, see Using the Amazon Redshift Data API in the Amazon Redshift Management Guide .",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "The identifier of the SQL statement to describe. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. A suffix indicates the number of the SQL statement. For example, d9b6c0c9-0747-4bf4-b142-e8883122f766:2 has a suffix of :2 that indicates the second SQL statement of a batch query. This identifier is returned by BatchExecuteStatment , ExecuteStatement , and ListStatements ."
                  }
                },
                "required": ["Id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "The identifier of the SQL statement described. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API."
                    },
                    "SecretArn": {
                      "type": "string",
                      "description": "The name or Amazon Resource Name (ARN) of the secret that enables access to the database."
                    },
                    "DbUser": {
                      "type": "string",
                      "description": "The database user name."
                    },
                    "Database": {
                      "type": "string",
                      "description": "The name of the database."
                    },
                    "ClusterIdentifier": {
                      "type": "string",
                      "description": "The cluster identifier."
                    },
                    "Duration": {
                      "type": "integer",
                      "description": "The amount of time in nanoseconds that the statement ran."
                    },
                    "Error": {
                      "type": "string",
                      "description": "The error message from the cluster if the SQL statement encountered an error while running."
                    },
                    "Status": {
                      "type": "string",
                      "enum": [
                        "SUBMITTED",
                        "PICKED",
                        "STARTED",
                        "FINISHED",
                        "ABORTED",
                        "FAILED",
                        "ALL"
                      ],
                      "description": "The status of the SQL statement being described. Status values are defined as follows: ABORTED - The query run was stopped by the user. ALL - A status value that includes all query statuses. This value can be used to filter results. FAILED - The query run failed. FINISHED - The query has finished running. PICKED - The query has been chosen to be run. STARTED - The query run has started. SUBMITTED - The query was submitted, but not yet processed."
                    },
                    "CreatedAt": {
                      "type": "number",
                      "description": "The date and time (UTC) when the SQL statement was submitted to run. (awsJson1_1 timestamp: epoch seconds)"
                    },
                    "UpdatedAt": {
                      "type": "number",
                      "description": "The date and time (UTC) that the metadata for the SQL statement was last updated. An example is the time the status last changed. (awsJson1_1 timestamp: epoch seconds)"
                    },
                    "RedshiftPid": {
                      "type": "integer",
                      "description": "The process identifier from Amazon Redshift."
                    },
                    "HasResultSet": {
                      "type": "boolean",
                      "description": "A value that indicates whether the statement has a result set. The result set can be empty. The value is true for an empty result set. The value is true if any substatement returns a result set."
                    },
                    "QueryString": {
                      "type": "string",
                      "description": "The SQL statement text."
                    },
                    "ResultRows": {
                      "type": "integer",
                      "description": "Either the number of rows returned from the SQL statement or the number of rows affected. If result size is greater than zero, the result rows can be the number of rows affected by SQL statements such as INSERT, UPDATE, DELETE, COPY, and others. A -1 indicates the value is null."
                    },
                    "ResultSize": {
                      "type": "integer",
                      "description": "The size in bytes of the returned results. A -1 indicates the value is null."
                    },
                    "RedshiftQueryId": {
                      "type": "integer",
                      "description": "The identifier of the query generated by Amazon Redshift. These identifiers are also available in the query column of the STL_QUERY system view."
                    },
                    "QueryParameters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the parameter."
                          },
                          "value": {
                            "type": "string",
                            "minLength": 1,
                            "description": "The value of the parameter. Amazon Redshift implicitly converts to the proper data type. For more information, see Data types in the Amazon Redshift Database Developer Guide ."
                          }
                        },
                        "required": ["name", "value"],
                        "description": "A parameter used in a SQL statement."
                      },
                      "description": "The parameters for the SQL statement."
                    },
                    "SubStatements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "The identifier of the SQL statement. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. A suffix indicates the number of the SQL statement. For example, d9b6c0c9-0747-4bf4-b142-e8883122f766:2 has a suffix of :2 that indicates the second SQL statement of a batch query."
                          },
                          "Duration": {
                            "type": "integer",
                            "description": "The amount of time in nanoseconds that the statement ran."
                          },
                          "Error": {
                            "type": "string",
                            "description": "The error message from the cluster if the SQL statement encountered an error while running."
                          },
                          "Status": {
                            "type": "string",
                            "enum": [
                              "SUBMITTED",
                              "PICKED",
                              "STARTED",
                              "FINISHED",
                              "ABORTED",
                              "FAILED"
                            ],
                            "description": "The status of the SQL statement. An example is the that the SQL statement finished."
                          },
                          "CreatedAt": {
                            "type": "number",
                            "description": "The date and time (UTC) the statement was created. (awsJson1_1 timestamp: epoch seconds)"
                          },
                          "UpdatedAt": {
                            "type": "number",
                            "description": "The date and time (UTC) that the statement metadata was last updated. (awsJson1_1 timestamp: epoch seconds)"
                          },
                          "QueryString": {
                            "type": "string",
                            "description": "The SQL statement text."
                          },
                          "ResultRows": {
                            "type": "integer",
                            "description": "Either the number of rows returned from the SQL statement or the number of rows affected. If result size is greater than zero, the result rows can be the number of rows affected by SQL statements such as INSERT, UPDATE, DELETE, COPY, and others. A -1 indicates the value is null."
                          },
                          "ResultSize": {
                            "type": "integer",
                            "description": "The size in bytes of the returned results. A -1 indicates the value is null."
                          },
                          "RedshiftQueryId": {
                            "type": "integer",
                            "description": "The SQL statement identifier. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API."
                          },
                          "HasResultSet": {
                            "type": "boolean",
                            "description": "A value that indicates whether the statement has a result set. The result set can be empty. The value is true for an empty result set."
                          }
                        },
                        "required": ["Id"],
                        "description": "Information about an SQL statement."
                      },
                      "description": "The SQL statements from a multiple statement run."
                    },
                    "WorkgroupName": {
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 128,
                      "description": "The serverless workgroup name or Amazon Resource Name (ARN)."
                    },
                    "ResultFormat": {
                      "type": "string",
                      "enum": ["JSON", "CSV"],
                      "description": "The data format of the result of the SQL statement."
                    },
                    "SessionId": {
                      "type": "string",
                      "description": "The session identifier of the query."
                    }
                  },
                  "required": ["Id"]
                }
              }
            }
          }
        }
      }
    },
    "/#X-Amz-Target=RedshiftData.GetStatementResult": {
      "post": {
        "operationId": "GetStatementResult",
        "summary": "Fetches the temporarily cached result of an SQL statement in JSON format.",
        "description": "Fetches the temporarily cached result of an SQL statement in JSON format. The ExecuteStatement or BatchExecuteStatement operation that ran the SQL statement must have specified ResultFormat as JSON , or let the format default to JSON. A token is returned to page through the statement results. For more information about the Amazon Redshift Data API and CLI usage examples, see Using the Amazon Redshift Data API in the Amazon Redshift Management Guide .",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "The identifier of the SQL statement whose results are to be fetched. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. A suffix indicates then number of the SQL statement. For example, d9b6c0c9-0747-4bf4-b142-e8883122f766:2 has a suffix of :2 that indicates the second SQL statement of a batch query. This identifier is returned by BatchExecuteStatment , ExecuteStatment , and ListStatements ."
                  },
                  "NextToken": {
                    "type": "string",
                    "description": "A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request."
                  }
                },
                "required": ["Id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Records": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "isNull": {
                              "type": "boolean",
                              "description": "A value that indicates whether the data is NULL."
                            },
                            "booleanValue": {
                              "type": "boolean",
                              "description": "A value of the Boolean data type."
                            },
                            "longValue": {
                              "type": "integer",
                              "description": "A value of the long data type."
                            },
                            "doubleValue": {
                              "type": "number",
                              "description": "A value of the double data type."
                            },
                            "stringValue": {
                              "type": "string",
                              "description": "A value of the string data type."
                            },
                            "blobValue": {
                              "type": "string",
                              "description": "base64-encoded binary"
                            }
                          },
                          "description": "Tagged union: exactly one member is set. A data value in a column."
                        }
                      },
                      "description": "The results of the SQL statement in JSON format."
                    },
                    "ColumnMetadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "isCaseSensitive": {
                            "type": "boolean",
                            "description": "A value that indicates whether the column is case-sensitive."
                          },
                          "isCurrency": {
                            "type": "boolean",
                            "description": "A value that indicates whether the column contains currency values."
                          },
                          "isSigned": {
                            "type": "boolean",
                            "description": "A value that indicates whether an integer column is signed."
                          },
                          "label": {
                            "type": "string",
                            "description": "The label for the column."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the column."
                          },
                          "nullable": {
                            "type": "integer",
                            "description": "A value that indicates whether the column is nullable."
                          },
                          "precision": {
                            "type": "integer",
                            "description": "The precision value of a decimal number column, or the column length for a non-numeric column."
                          },
                          "scale": {
                            "type": "integer",
                            "description": "The scale value of a decimal number column."
                          },
                          "schemaName": {
                            "type": "string",
                            "description": "The name of the schema that contains the table that includes the column."
                          },
                          "tableName": {
                            "type": "string",
                            "description": "The name of the table that includes the column."
                          },
                          "typeName": {
                            "type": "string",
                            "description": "The database-specific data type of the column."
                          },
                          "length": {
                            "type": "integer",
                            "description": "The length of the column."
                          },
                          "columnDefault": {
                            "type": "string",
                            "description": "The default value of the column."
                          }
                        },
                        "description": "The properties (metadata) of a column."
                      },
                      "description": "The properties (metadata) of a column."
                    },
                    "TotalNumRows": {
                      "type": "integer",
                      "description": "The total number of rows in the result set returned from a query. You can use this number to estimate the number of calls to the GetStatementResult operation needed to page through the results."
                    },
                    "NextToken": {
                      "type": "string",
                      "description": "A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request."
                    }
                  },
                  "required": ["Records"]
                }
              }
            }
          }
        }
      }
    }
  }
}
